# 점프투파이썬 2장 이어서
## 3절 리스트

In [1]:
print("안녕하세요.")

안녕하세요.

In [3]:
print(123)

123

### 리스트 만들기

In [6]:
# 빈 리스트
a = []
a

[]

In [7]:
b = [1, 2, 3]
b

[1, 2, 3]

In [8]:
c = ["life", "is", "too", "short"]
c

['life', 'is', 'too', 'short']

In [9]:
d = [1, 2, "life", "is"]
d

[1, 2, 'life', 'is']

In [13]:
e = [1, 2, ["life", "is"]]
e

[1, 2, ['life', 'is']]

## 리스트의 인덱싱

In [16]:
# 공간 상 첫번째부터 다섯번째까지
a = [1, 2, 3]
a

[1, 2, 3]

In [17]:
a[1]

2

In [18]:
a[-1]

3

In [19]:
a[-3]

1

In [20]:
e

[1, 2, ['life', 'is']]

In [22]:
e[2][0]

'life'

In [2]:
a = [1, 2, ['life', 'is']]
a[2:]

[['life', 'is']]

### 리스트 슬라이싱

In [25]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [26]:
a[0:2]

[1, 2]

In [28]:
a[:2]

[1, 2]

In [29]:
a[3:]

[4, 5]

### 리스트의 연산자

In [30]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2, 3]

In [34]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2, 3]

In [35]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 3]

In [2]:
a = [1, 2, 3]
b = ["hi"]
a + b

[1, 2, 3, 'hi']

### 리스트의 수정, 변경, 삭제

In [23]:
# 하나의 값 수정하기
a = [1, 2, 3]

In [24]:
a[2] = ['a', 'b']
a

[1, 2, ['a', 'b']]

In [48]:
# 연속된 범위값 수정하기
a[1:2]

[2]

In [6]:
# 슬라이싱 후  수정
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 4]

In [57]:
# 중첩하여 수정
a[2] = ['a', 'b', 'c']
a

[1, 'a', ['a', 'b', 'c'], ['a', 'b', 'c'], 'c', 4]

In [59]:
# 리스트 요소 삭제
a = [1, 2, 3]
del a[2]
a

[1, 2]

In [62]:
a = [1, 2, 3, 4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [63]:
#리스트에 요소 추가
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [65]:
a.append([5, 6])
a
# append 함수는 하나의 요소를 맨 뒤에 넣기 때문에 append(5 ,6)은 안됨

[1, 2, 3, 4, [5, 6], [5, 6]]

In [66]:
# 리스트 정렬
a = [1, 4, 3, 6, 2]
a.sort()
a

[1, 2, 3, 4, 6]

In [10]:
a = ['a', 'g', 'r', 'y', 'c']
a.sort()
a

['a', 'c', 'g', 'r', 'y']

In [11]:
a.reverse()
a

['y', 'r', 'g', 'c', 'a']

In [13]:
a.index('a')

4

In [67]:
# 리스트 뒤집기
a = [1, 4, 3, 6, 2]
a.reverse()
a

[2, 6, 3, 4, 1]

In [72]:
# 위치 변환
a = [1, 2, 3]
a.index(3)
# 3의 위치는?

2

In [73]:
# 리스트에 요소 삽입
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [74]:
a.insert(3, 4)
a

[4, 1, 2, 4, 3]

In [76]:
a.sort()
a

[1, 2, 3, 4, 4]

In [77]:
# 리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [10]:
# 리스트 요소 꺼내기
a = [1, 2, 3]
a.pop(1)

2

In [79]:
a

[1, 2]

In [81]:
# 요소 개수 세기
a = [1, 2, 3, 1]
a.count(1)

2

In [84]:
# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
a
b = [6, 7]

In [85]:
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [16]:
a = [1, 2, 3, 1]
a.pop(0)

1

In [20]:
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']
print(a[4], a[2])

you too

In [21]:
print(a[0:4])

['Life', 'is', 'too', 'short']

### 튜플

튜플과 리스트의 차이
1. 튜플은 수정 / 삭제가 안됨
2. 리스트 = [], 튜플 =()

In [86]:
t1 = ()
t2 = (1, )
t3 = (1, 2, 3)
t4 = ('a', 'b', 'c')
print(t1, t2, t3, t4)

() (1,) (1, 2, 3) ('a', 'b', 'c')

In [87]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리

In [27]:
dic = {"name": "이종석", "phone":"010-1234-1234"}

In [96]:
print(dic)

{'name': '이종석', 'phone': '010-1234-1234'}

In [93]:
dic["name"]

'이종석'

In [97]:
dic["phone"]

'010-1234-1234'

In [25]:
dic = {"name":"이종석", "name":"홍길동"}
dic["name"]

'홍길동'

In [28]:
# 키가 뭐뭐 있나??
dic.keys()

dict_keys(['name', 'phone'])

In [103]:
# 값이 뭐뭐 있나??
dic.values()

dict_values(['이종석', '010-1234-1234'])

### 불 자료형(bool)
참과 거짓을 나눠줌

In [105]:
# T / F
# True / False
3 > 1

True

In [106]:
1 > 3

False

In [111]:
if ["ㅁㄴㅇ"]:
    print("참")
else:
    print("거짓")

참

# 3장 제어문
## 1. if문

In [115]:
money = 0 # 돈이 있다.
if money :
    print("택시 타자")
else :
    print("걸어 가자")

걸어 가자

##### 기본 구조
##### if 조건문:
    수행 문장1
    수행 문장2
##### else:
    수행 문장A
    수행 문장B
##### Tab 1번 또는 spacebar 4번

In [118]:
money = 2000 # 내 돈
if money >= 3000:
    print("택시 타자")
else:
    print("걸어 가자")

걸어 가자

In [119]:
money = 2000
card = 1 # 카드가 있다
if money >= 3000 or card:
    print("택시 타자")
else:
    print("걸어 가자")

택시 타자

In [123]:
pocket = ['paper', 'cellphone', 'card']
if 'money' in pocket:
    print("택시 타자")
else:
    if card:
        print("택시 타자")
    else:
        print("걸어 가자")

택시 타자

In [124]:
# elif를 사용
if 'money' in pocket:
    print("택시 타자")
elif card:
    print("택시 타자")
else:
    print("걸어 가자")

택시 타자

In [ ]:
#구문
if <조건문>:
    수행문장1
    수행문장2
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
else:
    수행문장A
    수행문장B

In [125]:
if 'money' in pocket or 'card' in pocket:
    print("택시 타자")
else:
    print("걸어 가자")

택시 타자